@import url('./cabecalho/cabecalho.css');
@import url('./cabecalho/cabecalho-item.css');
@import url('./cabecalho/cabecalho-container.css');
@import url('./sobre/sobre.css');
@import url('./sobre/sobre-item.css');

:root {
    --main-color: #8E2424;
    --grey: #667085;
    --dark-grey: #101828;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

