@import url('./cabecalho/cabecalho.css');
@import url('./cabecalho/cabecalho-item.css');
@import url('./cabecalho/cabecalho-container.css');
@import url('./sobre/sobre.css');
@import url('./sobre/sobre-item.css');
@import url('./metrica/metrica.css');
@import url('./metrica/metrica-containers.css');
@import url('./talentos/talentos.css');
@import url('./talentos/talentos-container.css');

:root {
    --main-color: #FDB927;
    --white: #bfc2ca;
    --body: #1a1a1a;
    --titles: #ebebeb;

}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--body);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

p {
    margin: 0;
}
