.sobre__span {
    color: var(--main-color);
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 24px;
}

.sobre__titulo {
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 36px;
    text-align: center;
}

.sobre__paragrafo {
    margin: 0;
    color: var(--grey);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
}