.talentos__introducao {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.talentos__titulo {
    color: var(--titles);
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -2%;
}

.talentos__subtitulo {
    color: var(--main-color);
    background-color: #4b3811;
    padding: 4px 12px;
    border-radius: 15px;
    margin-bottom: 16px;
}

.talentos__conteudo {
    color: var(--white);
    font-weight: 400;
    font-size: 20px;
}

.talentos__imagem--container {
    display: flex;
    height: 528px;
    justify-content: center;
    align-items: center;
}